{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "react-native"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // Add any desired ESLint rules here
  }
}
